name: release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install and set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21.x'
      
      - name:
        run: echo $SIGNING_KEY | base64 -d > android/app/key.jks
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}

      - name: Install and set up Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.38.5'

      - name: Generate icons
        run: |
          python -mvenv .venv
          source ./.venv/bin/activate
          pip install -r requirements.txt
          python generate_icons.py
          deactivate

      - name: Build APKs
        run: |
          flutter config --no-analytics
          flutter pub get
          dart run flutter_launcher_icons
          dart run dart_pubspec_licenses:generate
          dart run intl_utils:generate
          dart run flutter_iconpicker:generate_packs --packs material

          # Create a directory for our release APKs	
          mkdir -pv build/app/outputs/release

          # Build our big boy APK, and move it into the release APKs folder
          flutter build apk --dart-define=app.flavor=github --release --no-tree-shake-icons
          
          mv build/app/outputs/apk/release/*.apk build/app/outputs/release

          # Build our ABI-specific APKs and move them into the release APKs folder
          flutter build apk --dart-define=app.flavor=github --release --no-tree-shake-icons --split-per-abi --target-platform=android-x64,android-arm,android-arm64
          
          mv build/app/outputs/apk/release/*.apk build/app/outputs/release
        env:
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PATH: key.jks

      - name: Generate release notes
        run: |
          cat changelog.md > release-notes.md
          printf "\n\nAPK Certificate fingerprints:\n\`\`\`text\n" >> release-notes.md
          cat certificate-fingerprints.txt >> release-notes.md
          printf "\n\`\`\`\n" >> release-notes.md
          

      - name: Create release
        id: upload-release-assets
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
          body_path: release-notes.md
          files: |
            build/app/outputs/release/*.apk

      - name: Publish the release
        uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.upload-release-assets.outputs.id }}
